@font-face {
    font-family: 'reenie_beanieregular';
    src: url('../fonts/reeniebeanie-regular-webfont.woff2') format('woff2'),
         url('../fonts/reeniebeanie-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: reenie_beanieregular, sans-serif;
    font-size: 2rem;
}

body {
    padding: 12px 0;
}

[id^="field-"] {
    border: 1px solid white;
    max-width: 150px;
    min-height: 150px;
    flex: 1;
}

#game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

button {
    appearance: none;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.field-btn:focus {
    background-color: rgb(47, 47, 47);
}

.field-btn {
    width: 100%;
    height: 100%;
    background-color: black;
    font-weight: bold;
    border-radius: 12px;
    transition: transform 1s;
}

.field-btn:active {
    transform: scale(0.95);
}

.row-wrapper {
    display: flex;
    justify-content: center;
}

#restart-btn {
    border-radius: 999px;
    padding: 2px 8px;
}

#restart-btn:active {
    transform: scale(0.98);
}

/* path {
    animation: dash 0.5s linear forwards;
} */

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}

#end-game-message {
    text-align: center;
}
